# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8

[{.gitignore,.npmignore,LICENSE}]
end_of_line = lf

[*.{json,ts,md,yaml}]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
